/* BODY */
body {
    width: 100%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


/* COMMON */
.lightgreen-bg {
    background-color: #1ABC9C;
}
/* Header */
nav {
    background-color: #2C3E50;
    height: 100px;
    line-height: 100px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav i{
    color: #686F75;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

nav h4 {
    margin-bottom: 0;
}

/* Hero */
.hero {
    width: 100%;
    color: white; 
}

.hero img{
    max-width: 40%;
    margin-bottom: 0.5rem;
}
.inner-hero {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inner-hero p {
    font-size: 0.8rem;
}

.star {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.star hr {
    width: 35%;
    border: 2px double;
}

/* MAIN */

/* Portfolio */
.portfolio {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.portfolio .star {
    margin: 0 auto;
}
/* DEBUG */
.col-debug {
    background-color: blue;
    min-height: 250px ;
}
